# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints
*.ipynb

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.cli_history
.env

# Build
build/

#.vscode/
/.vscode
*.egg-info/

# logs
*.txt
